.console {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;

    .card {
	display: flex;
	flex-direction: column;
	&:-webkit-full-screen {
	    width: 100%;
	    height: 100%;
	    .output-container {
		max-height: initial;
	    }
	    .card-action, .card-content {
		padding: 10px;
	    }
	    .card-secondary-content {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 0 10px;
	    }

	    .icon-action.full-screen {
		display: none;
	    }
	}
    }
    .output-container {
	max-height: 350px;
	overflow-y: auto;
	flex: 1;
	.output {
	    display: flex;
	    flex-direction: column;
	    justify-content: flex-end;
	    background-color: black;
	    color: white;
	    position: relative;
	    padding: 10px 20px;
	    overflow: auto;
	    min-height: 100%;
	    .line {
		$line-height: 27px;
		margin: 0;
		font-size: 18px;
		line-height: $line-height;
		min-height: $line-height;
		
		.default-colour {
		    color: white;
		}
		.default-background {
		    background-color: black;
		}
	    }
	}
    }
    
    .card-action {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	.icon-action {
	    cursor: pointer;
	    margin: 0 10px;
	}
    }

    .card-title {
	display: flex;
	align-items: center;
    }
}