.console {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 15px;
    padding-right: 15px;

    .card {
	display: flex;
	flex-direction: column;
	&:-webkit-full-screen {
	    width: 100%;
	    height: 100%;
	    .output-container {
		max-height: initial;
	    }
	    .card-action {
		display: none;
	    }
	}
    }
    .output-container {
	max-height: 350px;
	overflow-y: auto;
	flex: 1;
	.output {
	    display: flex;
	    flex-direction: column;
	    justify-content: flex-end;
	    background-color: black;
	    color: white;
	    position: relative;
	    padding: 10px 20px;
	    overflow: auto;
	    min-height: 100%;
	    .line {
		margin: 0;
		font-size: 18px;
	    }
	}
    }
    
    .card-action {
	display: flex;
	justify-content: flex-start;
	.icon-action {
	    cursor: pointer;
	}
    }

    .card-title {
	display: flex;
	align-items: center;
    }
}