@import "./node_modules/materialize-css/sass/materialize.scss";

@import "components/console.scss";
@import "components/connection-status.scss";
@import "pages/help.scss";
@import "flex-helpers.scss";
@import "helpers.scss";
@import "variables.scss";

html,body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 15px;
    height: auto;

    .brand-logo {
	position: initial;
	transform: none;
	display: flex;
	align-items: center;
	justify-content: center;

	.icon {
	    height: 40px;
	    margin: 0 10px;
	}
    }

    .controls {
	min-width: 300px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex: 1;
	flex-wrap: wrap;

	.user-info {
	    display: flex;
	    align-items: center;
	    margin-right: 15px;
	    .user-icon {
		max-height: 40px;
		margin-right: 10px;
	    }
	}

	.connection-status {
	    margin-right: 10px;
	}
    }

    @media only screen and (max-device-width: 500px) {
	.brand-logo {
	    min-width: 100%;
	    text-align: center;
	}
	.controls {
	    min-width: 100%;
	    justify-content: center;
	}
    }
}

.btn.btn-flat:hover{
    background-color: #9c27b0;
    color: white;
}

.loading-background {
    background-color: #ba68c8;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    .spinner-layer {
	border-color: #9c27b0;
    }
}